/** inicio do quem somos **/

#quem-somos {
  text-align: left;
  background-color: #ff914d;
  background-image: url(img/somos.png);
  background-repeat: no-repeat;
  position: relative;
  padding: 0px;
  margin: 0px;
  ;
}

.somosImg {
  float: right;
}

.somosH1 {
  text-align: left;
  font-size: 50px;
  line-height: 1.25em;
  color: #fff;
  margin-left: 5vw;
}

.somosH2 {
  line-height: 1.25em;
}

.somosP {
  font-size: 1.5rem;
  color: white;
  margin-left: 30px;
}

/** fim do quem somos **/

/** Inicio das configurações do Produtos e serviços **/

#baixe-nosso-app {
  margin: 0px;
  padding: 0px;
  display: flex;
  position: relative;
}

.loja-conta {
  overflow: hidden;
}

.loja-conta h3 {
  text-align: left;
  font-size: 50px;
  line-height: 1.25em;
  color: #fff;
  margin-left: 5vw;
}

.nossoImg {
  width: 50%;
  margin-bottom: 0;
  margin-left: 35vh;
  padding: 0;
}

.lojaP {
  width: 40vw;
  font-size: 1.8rem;
  color: white;
  margin-left: 7vw;
}

.loja-credito {
  overflow: hidden;
  -ms-flex-align: start;
}

.loja-credito h3 {
  margin-top: 14vh;
  text-align: right;
  font-size: 50px;
  line-height: 1.25em;
  margin-right: 22vw;
  color: #fff;
  position: relative;
}

.nossoCT {
  width: 40%;
  margin-top: 10vh;
}

.lojaP2 {
  width: 40vw;
  font-size: 1.8rem;
  color: white;
  margin-left: 30vw;
  margin-top: 5vh;
}

/**
.div-img {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 2;
}
**/