/** inicio do quem somos **/

#quem-somos {
  text-align: left;
  background-color: #ff914d;
  background-image: url(img/somos.png);
  background-repeat: no-repeat;
  position: relative;
  padding: 0px;
  margin: 0px;
  ;
}

.somosImg {
  float: right;
}

.somosH1 {
  text-align: left;
  font-size: 50px;
  line-height: 1.25em;
  color: #fff;
  margin-left: 5vw;
}

.somosH2 {
  line-height: 1.25em;
}

.somosP {
  font-size: 1.5rem;
  color: white;
  margin-left: 30px;
}

/** fim do quem somos **/

/** Inicio das configurações do Produtos e serviços **/

#baixe-nosso-app {
  width: 100%;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  position: relative;
}

.loja-conta {
  width: 50%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.loja-conta-h3 {
  text-align: center;
  font-size: 50px;
  line-height: 1.25em;
  padding-top: 10vh;
  padding-right: 8vw;
  color: #fff;
  position: relative;
}

.lojaP {
  text-align: center;
  width: 40vw;
  font-size: 1.8rem;
  color: white;
  position: absolute;
  padding-top: 12vw;
}

.nossoConta {
  width: 70%;
  margin-bottom: 0;
  padding: 0;
  align-self: flex-end;
  position: relative;
  overflow: hidden;
}

.nossoConta img {
  width: 100%;
}

.loja-credito {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  overflow: hidden;
}

.loja-credito {
  width: 50%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.loja-credito-h3 {
  text-align: center;
  padding-top: 20vh;
  padding-left: 14vw;
  font-size: 50px;
  line-height: 1.25em;
  color: #fff;
  position: relative;
}

.lojap2 {
  text-align: right;
  width: 40vw;
  font-size: 1.8rem;
  color: white;
  position: absolute;
}

.nossoCartao {
  width: 60%;
  margin-bottom: 0;
  padding-top: 5vh;
  align-self: flex-start;
  position: relative;
  overflow: hidden;
}

.nossoCartao img {
  width: 100%;
}