#nossos-clientes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
 }
.nossos-clientes-titulo {
    font-size: 2em;
    color: #ffbd59;
}
.depoimentos-container {

    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.depoimentos-item {
    background-color: #ffbd59;
    color: #fff;
    width: 22%;
    min-width: 220px;
    height: auto;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    font-size: 1.3em;

}

.depoimentos-item img {
    
    width: 200px;
    border-radius: 50%;
}





/*SEÇÃO DE CLIENTES*/

/*SEÇÃO DE CONTATO*/

#contato {
    background-color: #ffbd59;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    color: #fff;
}

.contato-titulo {
    
    font-size: 2em;
 }
 

form {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 50%;
    max-width: 600px;
    min-width: 280px;
    height: auto;

}

form input {
    margin: 2px;
    padding: 20px;
    border-style: none;
    border-bottom: 2px solid #fff;
    background-color: #ffbd59;
    color: #fff;


}

input::placeholder {

    color: #fff;
     
    } 

.check {
    margin: 10px 0  15px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.check a {
    font-size: 1em;
    color: #fff;

    text-decoration: none;
} 
 

.button {
    display: flex;
    justify-content: center;
    width: 100%;

}
form button {
    width: 30%;
    min-width: 200px;
    margin-top: 30px;
    background-color: rgb(223, 163, 74);
    font-size: 1em;
    padding: 20px;
    border-style: none;
    border-radius: 5px;
    color: #fff;
}

/*SEÇÃO DE FOOTER*/

#footer {
     height: 200px;
     background-color: #e29015;

}

.footer-redes {
    height: 100px;

    
}